@tailwind base;
@tailwind components;
@tailwind utilities;

.snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snap-slide {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.music-disc {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hashtag {
  color: #00B2FF;
}
